# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
Download/
downloads/
downloaded_files/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
bin/

# IDEs
.idea
.vscode

# Other
Video
note.txt
cmd.txt
bot_config.json
scripts.json
active_requests.json
working_proxies.json
test_1.py
main_copy.py
le-mie-ricette/
duplicati/
recipes.json
instance/
recipes copy.json